# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {

    item_FurHelmet {
        S:01.ID=lom:FurHelmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_FurChest {
        S:01.ID=lom:FurChestplate
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_FurLeggings {
        S:01.ID=lom:FurLeggings
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_FurBoots {
        S:01.ID=lom:FurBoots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_ElephantHelmet {
        S:01.ID=lom:ElephantHelmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {
}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {
}


