# Configuration file

clientsettings {
    I:AlchemyHUDxOffset=50
    I:AlchemyHUDyOffset=2
}


"dungeon loot chances" {
    I:averageLengtheningCatalyst=10
    I:averagePowerCatalyst=10
    I:greaterLengtheningCatalyst=5
    I:greaterPowerCatalyst=5
    I:mundaneLengtheningCatalyst=20
    I:mundanePowerCatalyst=20
    I:standardBindingAgent=30
}


meteor {
    S:diamondMeteor <
        oreDiamond
        100
        oreEmerald
        75
        oreCinnabar
        200
        oreAmber
        200
     >
    I:diamondMeteorRadius=5
    B:doMeteorsDestroyBlocks=true
    S:ironBlockMeteor <
        oreIron
        400
        oreGold
        30
        oreCopper
        200
        oreTin
        140
        oreSilver
        70
        oreLead
        80
        oreLapis
        60
        oreRedstone
        100
     >
    I:ironBlockMeteorRadius=7
    I:maxChance=1000
    S:netherStarMeteor <
        oreDiamond
        150
        oreEmerald
        100
        oreQuartz
        250
        oreSunstone
        5
        oreMoonstone
        50
        oreIridium
        5
        oreCertusQuartz
        150
     >
    I:netherStarMeteorRadius=3
    S:stoneBlockMeteor <
        oreCoal
        150
        oreApatite
        50
        oreIron
        50
     >
    I:stoneMeteorRadius=16
}


orecrushing {
    S:allowedOres <
        iron
        gold
        copper
        tin
        lead
        silver
        osmium
     >
}


"potion id" {
    I:Boost=101
    I:Deaf=113
    I:Drowning=100
    I:FeatherFall=114
    I:FireFuse=109
    I:FlameCloak=106
    I:Flight=104
    I:HeavyHeart=108
    I:IceCloak=107
    I:Inhibit=103
    I:PlanarBinding=110
    I:ProjProt=102
    I:Reciprocation=105
    I:SoulFray=111
    I:SoulHarden=112
}


wellofsufferingblacklist {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:Bat=false
    B:Blaze=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:EAReplicator=false
    B:EnderDragon=false
    B:EnderIO.EnderCreeper=false
    B:EnderIO.Enderminy=false
    B:Enderman=false
    B:EntityHorse=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:MushroomCow=false
    B:Mystcraft.myst.book=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:"ProjectZulu|Core.Alligator"=false
    B:"ProjectZulu|Core.Armadillo"=false
    B:"ProjectZulu|Core.Beaver"=false
    B:"ProjectZulu|Core.Black Bear"=false
    B:"ProjectZulu|Core.Blue Finch"=false
    B:"ProjectZulu|Core.Boar"=false
    B:"ProjectZulu|Core.Brown Bear"=false
    B:"ProjectZulu|Core.Centipede"=false
    B:"ProjectZulu|Core.Eagle"=false
    B:"ProjectZulu|Core.Elephant"=false
    B:"ProjectZulu|Core.Follower"=false
    B:"ProjectZulu|Core.Fox"=false
    B:"ProjectZulu|Core.Frog"=false
    B:"ProjectZulu|Core.Giraffe"=false
    B:"ProjectZulu|Core.Gorilla"=false
    B:"ProjectZulu|Core.Green Finch"=false
    B:"ProjectZulu|Core.Haunted Armor"=false
    B:"ProjectZulu|Core.Horn Bill"=false
    B:"ProjectZulu|Core.Horse Beige"=false
    B:"ProjectZulu|Core.Horse Black"=false
    B:"ProjectZulu|Core.Horse Brown"=false
    B:"ProjectZulu|Core.Horse Dark Black"=false
    B:"ProjectZulu|Core.Horse Dark Brown"=false
    B:"ProjectZulu|Core.Horse Grey"=false
    B:"ProjectZulu|Core.Horse White"=false
    B:"ProjectZulu|Core.Lizard"=false
    B:"ProjectZulu|Core.Mammoth"=false
    B:"ProjectZulu|Core.Mimic"=false
    B:"ProjectZulu|Core.Minotaur"=false
    B:"ProjectZulu|Core.Mummy"=false
    B:"ProjectZulu|Core.Mummy Pharaoh"=false
    B:"ProjectZulu|Core.Ostrich"=false
    B:"ProjectZulu|Core.Pelican"=false
    B:"ProjectZulu|Core.Penguin"=false
    B:"ProjectZulu|Core.Polar Bear"=false
    B:"ProjectZulu|Core.Rabbit"=false
    B:"ProjectZulu|Core.Red Finch"=false
    B:"ProjectZulu|Core.Rhino"=false
    B:"ProjectZulu|Core.SandWorm"=false
    B:"ProjectZulu|Core.TreeEnt"=false
    B:"ProjectZulu|Core.Vulture"=false
    B:"ProjectZulu|Core.Yellow Finch"=false
    B:Sanguimancy.EntityChickenMinion=false
    B:Sanguimancy.EntityPlayerPointer=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:SpecialMobs.ArmorCreeper=false
    B:SpecialMobs.BabyCaveSpider=false
    B:SpecialMobs.BabyGhast=false
    B:SpecialMobs.BabySpider=false
    B:SpecialMobs.BlindingEnderman=false
    B:SpecialMobs.BlindingSilverfish=false
    B:SpecialMobs.BrutishPigZombie=false
    B:SpecialMobs.BrutishSkeleton=false
    B:SpecialMobs.BrutishZombie=false
    B:SpecialMobs.CursedEnderman=false
    B:SpecialMobs.DarkCreeper=false
    B:SpecialMobs.DeathCreeper=false
    B:SpecialMobs.DesertSpider=false
    B:SpecialMobs.DirtCreeper=false
    B:SpecialMobs.DoomCreeper=false
    B:SpecialMobs.DrowningCreeper=false
    B:SpecialMobs.EnderCreeper=false
    B:SpecialMobs.FaintGhast=false
    B:SpecialMobs.FighterGhast=false
    B:SpecialMobs.FireCreeper=false
    B:SpecialMobs.FireSkeleton=false
    B:SpecialMobs.FireZombie=false
    B:SpecialMobs.FishingPigZombie=false
    B:SpecialMobs.FishingSilverfish=false
    B:SpecialMobs.FishingZombie=false
    B:SpecialMobs.FlyingCaveSpider=false
    B:SpecialMobs.FlyingSilverfish=false
    B:SpecialMobs.FlyingSpider=false
    B:SpecialMobs.GatlingSkeleton=false
    B:SpecialMobs.GhostSpider=false
    B:SpecialMobs.GiantPigZombie=false
    B:SpecialMobs.GiantSkeleton=false
    B:SpecialMobs.GiantSpider=false
    B:SpecialMobs.GiantZombie=false
    B:SpecialMobs.HungryPigZombie=false
    B:SpecialMobs.HungrySpider=false
    B:SpecialMobs.HungryZombie=false
    B:SpecialMobs.IcyEnderman=false
    B:SpecialMobs.JumpingCreeper=false
    B:SpecialMobs.KingGhast=false
    B:SpecialMobs.LightningCreeper=false
    B:SpecialMobs.LightningEnderman=false
    B:SpecialMobs.MiniCreeper=false
    B:SpecialMobs.MiniEnderman=false
    B:SpecialMobs.MiniGhast=false
    B:SpecialMobs.MirageEnderman=false
    B:SpecialMobs.MotherCaveSpider=false
    B:SpecialMobs.MotherSpider=false
    B:SpecialMobs.PaleSpider=false
    B:SpecialMobs.PlaguePigZombie=false
    B:SpecialMobs.PlagueZombie=false
    B:SpecialMobs.PoisonSilverfish=false
    B:SpecialMobs.PoisonSkeleton=false
    B:SpecialMobs.PoisonSpider=false
    B:SpecialMobs.QueenGhast=false
    B:SpecialMobs.SmallSpider=false
    B:SpecialMobs.SniperSkeleton=false
    B:SpecialMobs.SpecialCaveSpider=false
    B:SpecialMobs.SpecialCreeper=false
    B:SpecialMobs.SpecialEnderman=false
    B:SpecialMobs.SpecialGhast=false
    B:SpecialMobs.SpecialPigZombie=false
    B:SpecialMobs.SpecialSilverfish=false
    B:SpecialMobs.SpecialSkeleton=false
    B:SpecialMobs.SpecialSpider=false
    B:SpecialMobs.SpecialZombie=false
    B:SpecialMobs.SpitfireSkeleton=false
    B:SpecialMobs.SplittingCreeper=false
    B:SpecialMobs.ThiefEnderman=false
    B:SpecialMobs.ThiefSkeleton=false
    B:SpecialMobs.ToughCaveSpider=false
    B:SpecialMobs.ToughSilverfish=false
    B:SpecialMobs.ToughSpider=false
    B:SpecialMobs.UnholyGhast=false
    B:SpecialMobs.VampirePigZombie=false
    B:SpecialMobs.WebCaveSpider=false
    B:SpecialMobs.WebSpider=false
    B:SpecialMobs.WitchCaveSpider=false
    B:SpecialMobs.WitchSpider=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:WitherBoss=false
    B:Wolf=false
    B:Zombie=false
    B:yegamolchattels.fakePlayer=false
    B:ygcGhost=false
}


wimpysettings {
    B:IDontLikeFun=false
    B:RespawnWithDebuff=true
    B:RespawnWithLowerHealth=true
    B:causeHungerWithRegen=true
}


